#myWorks {
  font-family: "Righteous", cursive;
  // background-color: #333;
}

.div_listItem {
  width: 100%;

  .listItem {
    position: relative;
    color: transparent;

    &::before,
    span::before,
    &::after,
    span::after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: linear-gradient(20deg, pink, #00a1ec);
      background-clip: text;
      -webkit-background-clip: text;
      transition: all 0.5s;
    }

    &::before {
      clip-path: inset(0 68% 0 0);
    }

    span::before {
      clip-path: inset(0 45% 0 28%);
    }

    &::after {
      clip-path: inset(0 23% 0 52%);
    }

    span::after {
      clip-path: inset(0 0 0 74%);
    }

    &:hover::before {
      top: -5px;
      background: unset;
      background-clip: unset;
      -webkit-background-clip: unset;
      color: transparent;
      -webkit-text-stroke: 1px black;
      // color: rgba(255, 255, 255, 0.4);
      clip-path: inset(0 70% 0 0);
      transform: scale(1.05);
    }

    &:hover span::before {
      top: 5px;
      background: unset;
      background-clip: unset;
      -webkit-background-clip: unset;
      color: transparent;
      -webkit-text-stroke: 1px black;
      // color: white;
      clip-path: inset(0 46% 0 30%);
      transform: scale(1.05);
    }

    &:hover::after {
      top: -5px;
      background: unset;
      background-clip: unset;
      -webkit-background-clip: unset;
      color: transparent;
      -webkit-text-stroke: 1px black;
      // color: rgba(255, 255, 255, 0.4);
      clip-path: inset(0 24% 0 54%);
      transform: scale(1.05);
    }

    &:hover span::after {
      top: 5px;
      background: unset;
      background-clip: unset;
      -webkit-background-clip: unset;
      color: transparent;
      -webkit-text-stroke: 1px black;
      // color: white;
      clip-path: inset(0 0 0 76%);
      transform: scale(1.05);
    }
  }
}
