.alice-carousel {
  height: 100%;
  margin: 0 !important;

  & > div {
    height: 95%;

    .alice-carousel__wrapper {
      height: 100%;

      .alice-carousel__stage {
        height: 100%;

        .alice-carousel__stage-item {
          height: 100%;
        }
      }
    }
  }

  .alice-carousel__dots {
    height: 5%;
    margin: 0;
  }

  .alice-carousel__prev-btn,
  .alice-carousel__next-btn {
    position: absolute;
    top: 50%;
    width: fit-content;
    height: fit-content;
    padding: 0 5% 0 5%;

    .alice-carousel__prev-btn-item,
    .alice-carousel__next-btn-item {
      padding: 0;
      -webkit-text-stroke: 2px white;
      color: #606887;
      height: fit-content;
      &:hover {
        color: #fdba74;
      }

      & span {
        &::after {
          font-size: 4em;
          font-weight: normal;
          font-style: normal;
          opacity: 1;
          z-index: 10;
        }
      }
    }
  }

  .alice-carousel__prev-btn {
    left: 0;
  }

  .alice-carousel__next-btn {
    right: 0;
  }
}

@media screen and (min-width: 768px) {
  .alice-carousel
    > div
    > .alice-carousel__wrapper
    > .alice-carousel__stage
    .alice-carousel__stage-item.__active.__target {
    padding: 0 10% 0 10%;
  }
}

@media screen and (min-width: 1024px) {
  .alice-carousel > div {
    padding-bottom: 2%;
  }

  .alice-carousel > .alice-carousel__prev-btn {
    left: 4%;
  }

  .alice-carousel > .alice-carousel__next-btn {
    right: 4%;
  }

  .alice-carousel
    > div
    > .alice-carousel__wrapper
    > .alice-carousel__stage
    .alice-carousel__stage-item.__active.__target {
    padding: 0 20% 0 20%;
  }
}
