#titleContainer {
  height: 100vh;
  background-color: white;
  overflow-y: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .title {
    color: black;
  }

  .letter {
    font-size: 10vw;
    font-family: 'Righteous', cursive;
  }

  .spanUnderTitle {
    font-size: 6vw;
    font-family: 'Baloo Thambi 2', display;
  }
}

#mainContainer {
  height: 100vh;
  background-color: #3b5998;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  #titleContainer {
    .spanUnderTitle {
      font-size: 4vw;
    }
  }
}
