.panelContainer {
  background-clip: text;
  background-image: linear-gradient(
    to right,
    #fed90f,
    #09f1b8,
    #00a2ff,
  );
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: calc(1em / 16);
}
