.homePage {
  font-family: "Baloo Thambi 2", display;

  header {
    li {
      color: #00a1ec;

      &.myCv {
        color: grey;
      }
    }
  }
}

.surfer-container {
  position: relative;
  overflow: hidden;
}

.surfer {
  position: absolute;
  bottom: 35%;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #ff0000;
  border-radius: 50%;
}

@keyframes surf {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-150px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}
