.homePage {
  font-family: "Baloo Thambi 2", display;

  header {
    li {
      color: #00a1ec;

      &.myCv {
        color: grey;
      }
    }
  }

  .home_left.fade-in{
    animation: apparition_L 1s ease-out;
  }

  .home_right.fade-in{
    .home_right_img {
      animation: apparition_R 1s ease-out;
    }
  }
}

@keyframes apparition_R {
  from {
    opacity: 0;
    transform: translateX(400px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes apparition_L {
  from {
    opacity: 0;
    transform: translateX(-400px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
