#homePage {
  font-family: "Baloo Thambi 2", display;

  .logo{
    font-family: "Architects Daughter", handwriting;
  }

  .home_left.fade-in{
    animation: apparition_L 2s ease-out;
  }

  .home_right.fade-in{
      animation: apparition_R 2s ease-out;
  }
}

@keyframes apparition_R {
  from {
    opacity: 0;
    transform: translateX(400px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes apparition_L {
  from {
    opacity: 0;
    transform: translateX(-400px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
