@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url(https://fonts.bunny.net/css?family=baloo-thambi-2:400|museomoderno:500);
@import url(https://fonts.bunny.net/css?family=annie-use-your-telescope:400);
@import url(https://fonts.bunny.net/css?family=architects-daughter:400);

html,
body {
  margin: 0;
  padding: 0;

  // hide scrollbar
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }
  scroll-behavior: smooth;
}


