@use "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Architects+Daughter&family=Baloo+Thambi+2&family=Righteous&display=swap");

html,
body {
  margin: 0;
  padding: 0;

  button:focus,
  svg:focus,
  li:focus,
  a:focus {
    outline: none;
  }
}

.titleSection {
  -webkit-text-stroke: 2px #606887;

  @media screen and (min-width: 1024px) {
    -webkit-text-stroke: 10px #606887;
  }
}
