#aboutMe {
  font-family: "Righteous", cursive;
}

.resumeBox {
  font-family: "Annie Use Your Telescope", handwriting;

  & .arrow {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #00a1ec;
    rotate: 90deg;
  }
}
