#aboutMe {
  font-family: "Righteous", cursive;
}

.quoteBox {
  font-family: "Annie Use Your Telescope", handwriting;
}

#aboutMe_scene {
  background-color: #3498db;
  clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 100% 100%);
  // transform-origin: 100% 100%;
  // transform: skewX(-10deg);
}
