#aboutMe {
    font-family: "Righteous", cursive;
}

.word_list{
    margin-right: 2rem;
    min-width: 25%;
}

.floatingBox{
    width: 100%;
    min-height: 100%;
    border: 1px solid black;    
}